@model TimeTracker.Models.Tracker

@{
    ViewBag.Title = "Create";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.11/jquery-ui.min.js" type="text/javascript"></script>
    <script>
    $(function () {
        $("#TrakingDateTime").datepicker()
        //$("#PatientID").autocomplete({
        //    source: "AllPatients/?pname="+$(this).val(),
        //    minLength: 2           
        //});
        $("#PatientID").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Tracker/AllPatients/?pname=' + $("#PatientID").val(),
                    success: function (data) {
                        response($.map(data, function (item) {
                            
                            return { label: item.Text, value: item.Value };
                        }))
                    }
                })
            },
            select: function (event, ui) {
               alert(ui.item.label);               

            },

            minLength: 1, // require at least one character from the user
        });
    });
  
    </script>

}
<h2>Create</h2>



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Tracker</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientID, "Patient")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PatientID)
            @Html.ValidationMessageFor(model => model.PatientID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrakingDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrakingDateTime)
            @Html.ValidationMessageFor(model => model.TrakingDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId, "Status")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <p>
            <input type="submit" value="Create" class="btn btn-success" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-info" })
</div>